# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Environment variables
.env

# Production
/build

# IDEs and editors
/.idea
*.swp
*.swo
.vscode/

# OS files
.DS_Store
Thumbs.db

# TypeORM
ormconfig.json
